<h2>{{ details.title }}</h2>

<!-- Date, Views, likes and Share button -->
<div class="row">
  <span class="mat-caption">{{ details.createdAt | date }}</span>
  <div class="stats">
    <span class="stats-section">{{ details.views }} views</span>
    <span class="stats-section">
      <button
        mat-icon-button
        color="warn"
        aria-label="Button to toggle like on and of"
        (click)="likeVideo()"
      >
        <mat-icon>
          {{ isLiked ? "favorite" : "favorite_border" }}
        </mat-icon>
      </button>
      {{ details.likes }} likes
    </span>

    <!-- Share -->
    <!-- <popup-buttons
      [theme]="'modern-light'"
      [include]="[
        'facebook',
        'twitter',
        'linkedin',
        'pinterest',
        'reddit',
        'tumblr',
        'telegram',
        'messenger',
        'whatsapp',
        'sms',
        'email',
        'copy'
      ]"
      [show]="3"
      [showText]="true"
      [title]="'riding on a skateboard'"
      [description]="'A video riding on a skateboard'"
      [autoSetMeta]="false"
    ></popup-buttons> -->
    <!-- <share-popup-button theme="modern-dark"></share-popup-button> -->
    <share-buttons
      theme="material-dark"
      [showText]="true"
      [show]="4"
    ></share-buttons>
  </div>
</div>

<!-- Categories -->
<h3>Categories</h3>
<mat-chip-list aria-label="Categories">
  <mat-chip *ngFor="let tag of details.tags" selected color="primary">
    {{ tag }}
  </mat-chip>
</mat-chip-list>

<!-- Description -->
<h3>About</h3>
<p>{{ details.description }}</p>
