<h2>{{ details.title }}</h2>

<!-- Date, Views, likes and Share button -->
<div class="row">
  <span class="mat-caption">{{ details.createdAt | date }}</span>
  <div class="stats">
    <span class="stats-section">{{ details.views }} views</span>
    <span class="stats-section">
      <button
        mat-icon-button
        color="warn"
        aria-label="Button to toggle like on and of"
        (click)="likeVideo()"
      >
        <mat-icon>
          {{ isLiked ? "favorite" : "favorite_border" }}
        </mat-icon>
      </button>
      {{ details.likes }} likes
    </span>

    <!-- Share -->
    <button class="stats-section" mat-flat-button (click)="openDialog()">
      <mat-icon>share</mat-icon> share
    </button>
  </div>
</div>

<!-- Categories -->
<h3>Categories</h3>
<mat-chip-list aria-label="Categories">
  <mat-chip *ngFor="let tag of details.tags" selected color="primary">
    {{ tag }}
  </mat-chip>
</mat-chip-list>

<!-- Description -->
<h3>About</h3>
<p>{{ details.description }}</p>
