<button
  type="button"
  class="icon-btn"
  mat-icon-button
  [matMenuTriggerFor]="contribTooltip"
>
  <img src="/assets/vectors/man.jpg" alt="icon" />
</button>

<!-- profile menu -->
<mat-menu #contribTooltip>
  <ng-template matMenuContent>
    <div class="container-small">
      <h3>{{ contributer }}</h3>
      <p class="mat-body-2">Role</p>
      <p>
        This is a really stupidly long description of what he/she did to test
        how it will look like if a user adds a long-ass description. Maybe I
        should limit word length
      </p>
      <button mat-stroked-button color="primary">View Profile</button>
    </div>
  </ng-template>
</mat-menu>
