<button
  type="button"
  class="icon-btn"
  mat-icon-button
  [matMenuTriggerFor]="contribTooltip"
>
  <img
    [src]="
      contributer.user?.profilePicUrl
        ? contributer.user?.profilePicUrl
        : '/assets/vectors/man.jpg'
    "
    alt="icon"
  />
</button>

<!-- profile menu -->
<mat-menu #contribTooltip>
  <ng-template matMenuContent>
    <div class="container-small">
      <h3>{{ contributer.user?.username }}</h3>
      <p class="mat-body-2">{{ contributer.role }}</p>
      <p>
        {{ contributer.roleDetails }}
      </p>
      <button mat-stroked-button color="primary">View Profile</button>
    </div>
  </ng-template>
</mat-menu>
