img {
  height: 35px;
  border-radius: 50%;
}

// TODO make menu slightly transparent
mat-menu {
  opacity: 0.7 !important;
}

h3 {
  margin-top: 0px !important;
  margin-bottom: 6px;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  margin-bottom: 0px;
}
