<app-navbar></app-navbar>

<!-- For Mobile view -->
<mat-tab-group mat-align-tabs="start" fxHide.gt-xs>
  <mat-tab label="Featured">
    <ng-template matTabContent>
      <app-featured [fileType]="'image'"></app-featured>
    </ng-template>
  </mat-tab>
  <mat-tab label="Trending">
    <ng-template matTabContent>
      <app-trending [fileType]="'image'"></app-trending>
    </ng-template>
  </mat-tab>
  <mat-tab label="New">
    <ng-template matTabContent>
      <app-latest [fileType]="'image'"></app-latest>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<!-- Shown on Desktop and Tablet -->
<div class="container" fxHide.xs>
  <app-featured [fileType]="'image'"></app-featured>
  <app-trending [fileType]="'image'"></app-trending>
  <app-latest [fileType]="'image'"></app-latest>
</div>

<!-- For Mobile -->
<app-bottom-navbar fxHide.gt-xs></app-bottom-navbar>
