html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-spinner {
  margin: auto;
}

mat-button {
  // TODO playaround with font weight
  font-weight: 600;
}

.container {
  padding: 1rem 2rem;
  height: 100%;
}

.logo-light {
  font-size: x-large;
  font-weight: 900;
  color: rgb(34, 34, 34);

  span {
    color: blue;
  }
}

.logo-dark {
  font-size: x-large;
  font-weight: 900;
  color: white;

  span {
    color: blue;
  }
}

.spacer {
  flex: 1 1 auto;
}
