html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-spinner {
  margin: auto;
}

mat-button {
  // TODO playaround with font weight
  font-weight: 600;
}

.container {
  padding: 1rem 2rem;
  height: 100%;
}

.container-small {
  padding: 8px 10px;
}

.logo-light {
  font-size: x-large;
  font-weight: 900;
  color: rgb(124, 124, 124);

  span {
    color: blue;
  }
}

.logo-dark {
  font-size: x-large;
  font-weight: 900;
  color: rgb(226, 226, 226);

  span {
    color: blue;
  }
}

.spacer {
  flex: 1 1 auto;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.w-100 {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.active {
  border-bottom: 2px solid blue;

  div span {
    font-size: 1rem;
    color: blue;
  }

  div mat-icon {
    color: blue;
    font-size: 28px;
  }
}

.link-active {
  font-weight: 600;
  font-size: 22px;
}

.custom-bg-light {
  background-color: #fff;
}

.custom-bg-dark {
  background-color: #424242;
}

.color-dark {
  color: #ffffff;
}

.color-light {
  color: rgba(0, 0, 0, 0.87);
}

.mat-form-field:not(.mat-focused) .mat-hint {
  display: none;
}

.backdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-loading-spinner {
  position: absolute;
}

.upload-box {
  height: 10rem;
  width: 10rem;
  border: 2px dotted #898989;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 1rem;
  margin-bottom: 8px;
}

input[type="file"] {
  visibility: hidden;
}
