<!-- NavBar -->
<app-navbar [displayNav]="false"></app-navbar>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<!-- Container -->
<div *ngIf="!isLoading" fxAlign.lt-sm="column">
  <div class="video">
    <!-- Todo put autoplay -->
    <video preload="auto" autoplay [poster]="video.thumbnailUrl" controls>
      <source [src]="video.fileUrl" type="video/mp4" />
      Sorry Your browser does not support the video tag.
    </video>
  </div>

  <!-- Tab Nav for Mobile -->
  <div class="vid-nav">
    <mat-tab-group mat-stretch-tabs>
      <!-- Description Tab group -->
      <mat-tab label="Details">
        <ng-template matTabContent>
          <div class="container">
            <app-description [details]="details"></app-description>
          </div>
        </ng-template>
      </mat-tab>

      <!-- Credits tab group -->
      <mat-tab label="Credits">
        <ng-template matTabContent>
          <div
            class="container"
            [ngClass]="{
              'dark-background': isDarkMode,
              'light-background': !isDarkMode
            }"
          >
            <app-credits
              [owners]="video.owners"
              [citations]="video.citations"
              [contributers]="video.contributers"
            ></app-credits>
          </div>
        </ng-template>
      </mat-tab>

      <!-- Pictures Tab group -->
      <mat-tab label="Comments">
        <ng-template matTabContent>
          <div class="container">
            <app-comments></app-comments>
          </div>
        </ng-template>
      </mat-tab>

      <!-- Suggestions Tab group -->
      <mat-tab label="Other">
        <ng-template matTabContent>
          <div class="container">
            <app-suggestions></app-suggestions>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
