mat-spinner {
  height: 100%;
}

.video {
  width: 100%;
}

video,
iframe {
  width: 100%;
}

iframe #document video {
  width: 100%;
}

.light-background {
  background-color: #ebebeb;
}

.dark-background {
  background-color: #3b3b3b;
}

.mat-tab-label {
  max-width: 25% !important;
  width: 25px !important;
}

::ng-deep .mat-tab-header-pagination {
  display: none !important;
}

// For larger screens
@media only screen and (min-width: 600px) {
  .mainContent {
    padding: 0px 20px;
  }

  app-suggestions {
    padding-right: 20px;
  }
}
