<!-- <div id="background"></div> -->
<div class="center">
  <div class="top">
    <h1>404</h1>
    <h3>page not found</h3>
  </div>
  <div class="container">
    <div class="ghost-copy">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
    </div>
    <div class="ghost">
      <div class="face">
        <div class="eye"></div>
        <div class="eye-right"></div>
        <div class="mouth"></div>
      </div>
    </div>
    <div class="shadow"></div>
  </div>
  <div class="bottom">
    <p>
      Looks like you entered dead space <br />
      Don't worry we can resurrect you <br />
      Just Go back home
    </p>

    <div class="buttons">
      <a href="#" routerLink="/home" class="btn">Home</a>
    </div>
  </div>
</div>
