<div class="section-title" fxHide.xs>
  <span class="mat-title">{{ featureName }}</span> <span class="spacer"></span>
  <a href="#" [routerLink]="linkTo" mat-stroked-button color="primary">
    See More
  </a>
</div>
<div
  class="thumbnails"
  *ngIf="vids && vids.length > 0"
  ngClass.xs="container-small"
>
  <app-thumbnail
    *ngFor="let vid of vids"
    [thumbnailData]="vid"
    ngClass.xs="mt-2"
  ></app-thumbnail>
</div>

<div class="no-vids" *ngIf="!vids || vids.length === 0">
  <span>Sorry, No Content Available</span>
</div>

<div ngStyle.xs="margin-top: 72px"></div>
<hr class="mt-2" fxHide.xs />
