<form [formGroup]="uploadForm" (submit)="uploadFiles()">
  <!-- File Upload box -->
  <div class="upload-field" fxLayout="column" fxLayoutAlign="center center">
    <!-- File Upload Box -->
    <div
      appFileDrop
      (filesDropped)="handleDrop($event, 0)"
      (filesHovered)="fileDropzoneState($event)"
      [ngClass]="{ 'drop-active': fileDropzoneActive }"
      class="upload-box video-upload"
      *ngIf="uploadStatus.status === 'PENDING' && !readyForUpload"
    >
      <button
        mat-stroked-button
        color="primary"
        (click)="filePicker.click()"
        type="button"
      >
        Select File
      </button>
      <input type="file" #filePicker (change)="onFilePicked($event)" />
      <button
        *ngIf="filePreview === '' || !filePreview"
        mat-icon-button
        (click)="filePicker.click()"
        type="button"
      >
        <mat-icon>attachment</mat-icon>
      </button>
      <mat-error *ngIf="file.errors?.required && isSubmitted">
        Video, audio or image file required
      </mat-error>
    </div>

    <!-- Ready for upload file -->
    <div
      class="staged-upload"
      *ngIf="readyForUpload && uploadStatus.status === 'PENDING'"
    >
      <mat-icon color="warning">warning</mat-icon>
      <br />
      <br />
      <p>
        <strong>Ready to upload:</strong>
        <br />
        {{ fileName }}
      </p>
      <input type="file" #filePicker (change)="onFilePicked($event)" /> <br />
      <button
        mat-stroked-button
        color="primary"
        (click)="filePicker.click()"
        type="button"
      >
        Change File
      </button>
    </div>

    <!-- Progress spinner -->
    <div class="uploading-box" *ngIf="uploadStatus.status === 'IN_PROGRESS'">
      <div class="circular-progress-box">
        <mat-progress-spinner
          class="example-margin"
          mode="determinate"
          strokeWidth="6"
          diameter="150"
          [value]="uploadStatus.percentage"
        >
        </mat-progress-spinner>
        <span>{{ uploadStatus.percentage }}%</span>
      </div>
      <span>Uploading: <br />{{ fileName }}</span>
      <button
        type="button"
        mat-stroked-button
        color="warn"
        (click)="cancelUpload()"
      >
        Cancel Upload
      </button>
    </div>

    <!-- After file is finished uploading -->
    <div class="uploaded-box" *ngIf="uploadStatus.status === 'DONE'">
      <img src="/assets/del/upload_completed.jpg" alt="" />
      <br />
      <span>{{ fileName }} Uploaded</span> <br />
      <button
        type="button"
        mat-stroked-button
        color="warn"
        (click)="deleteUpload()"
      >
        Delete Upload
      </button>
    </div>

    <!-- Thumbnail upload box -->
    <div
      class="upload-box thumbnail-upload"
      appFileDrop
      (filesDropped)="handleDrop($event, 1)"
      (filesHovered)="thumbDropzoneState($event)"
      [ngClass]="{ 'drop-active': thumbDropzoneActive }"
      *ngIf="fileName && !fileType?.includes('image') && !croppedImage"
    >
      <mat-hint>Pick File less than 1mb</mat-hint>
      <mat-error *ngIf="fileTooBigError">
        {{ fileTooBigError }}
      </mat-error>
      <mat-error *ngIf="thumbnail.errors?.invalidMimeType">
        Sorry only jpg and png files supported
      </mat-error>
      <button
        mat-stroked-button
        color="primary"
        (click)="thumbnailPicker.click()"
        type="button"
      >
        Select thumbnail
      </button>
      <input type="file" #thumbnailPicker (change)="onThumbPick($event)" />
      <button
        *ngIf="croppedImage === '' || !croppedImage"
        mat-icon-button
        (click)="thumbnailPicker.click()"
        type="button"
      >
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>
    <div class="image-preview" *ngIf="croppedImage">
      <img [src]="croppedImage" [alt]="uploadForm.value.title" />
    </div>

    <input type="file" #thumbnailPicker (change)="onThumbPick($event)" />
    <div class="row">
      <button
        *ngIf="uploadStatus.status != 'DONE' && readyForUpload"
        mat-stroked-button
        [disabled]="!readyForUpload"
        type="button"
        (click)="thumbnailPicker.click()"
      >
        Change thumbnail
      </button>

      <button
        *ngIf="uploadStatus.status != 'DONE'"
        mat-raised-button
        color="accent"
        [disabled]="!readyForUpload"
      >
        Upload Files
      </button>
    </div>
  </div>
</form>
