<form [formGroup]="uploadForm">
  <!-- File Upload box -->
  <div class="upload-field">
    <div class="upload-box video-upload">
      <button mat-raised-button (click)="filePicker.click()">
        Select File
      </button>
      <input type="file" #filePicker (change)="onFilePicked($event)" />
      <button
        *ngIf="filePreview === '' || !filePreview"
        mat-icon-button
        (click)="filePicker.click()"
      >
        <mat-icon>backup</mat-icon>
      </button>
      <div class="image-preview" *ngIf="filePreview !== '' && filePreview">
        <img [src]="filePreview" [alt]="uploadForm.value.title" />
      </div>
    </div>

    <!-- Thumbnail upload box -->
    <div
      class="upload-box thumbnail-upload"
      appFileDrop
      (filesDropped)="handleDrop($event)"
      (filesHovered)="dropzoneState($event)"
      [ngClass]="{ 'drop-active': dropzoneActive }"
    >
      <mat-error *ngIf="thumbnail.errors?.invalidMimeType"
        >Only jpg and png files accepted</mat-error
      >
      <button mat-raised-button (click)="thumbnailPicker.click()">
        Select thumbnail
      </button>
      <input type="file" #thumbnailPicker (change)="onImagePicked($event)" />
      <button
        *ngIf="thumbPreview === '' || !thumbPreview"
        mat-icon-button
        (click)="thumbnailPicker.click()"
      >
        <mat-icon>backup</mat-icon>
      </button>
      <div
        class="image-preview"
        *ngIf="thumbPreview !== '' && thumbPreview && thumbnail.valid"
      >
        <img [src]="thumbPreview" [alt]="uploadForm.value.title" />
      </div>
    </div>
  </div>
</form>
