.container {
  height: 100vh;
}
// styling stepper
mat-form-field {
  width: 100%;
}

.mt-1 {
  margin-top: 1rem;
}

.custom-bg-light {
  background-color: #fff;
}

.custom-bg-dark {
  background-color: #424242;
}
