.container {
  height: 100%;
}

// styling stepper
mat-form-field {
  width: 100%;
}

.mt-1 {
  margin-top: 1rem;
}

.custom-bg {
  width: 100%;
}

.custom-bg-light {
  background-color: #fff;
}

.custom-bg-dark {
  background-color: #424242;
}

@media screen and (max-width: 776px) and (min-width: 600px) {
  .stepper {
    max-width: 50% !important;
  }
}

@media screen and(min-width: 778px) {
  .stepper {
    max-width: 100% !important;
  }

  .video-upload-form {
    max-width: 35% !important;
  }
}
