// Styling upload form
input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image-preview img {
  height: 100%;
  background-size: contain;
}

.upload-box {
  height: 10rem;
  width: 10rem;
  border: 2px dotted #898989;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 1rem;
}

.drop-active {
  border: 2px solid yellow;
}

.video-upload {
  margin-bottom: 8px;
}

// styling stepper
mat-form-field {
  width: 100%;
}
