<div class="container" fxLayout.lt-sm="column" fxFlex.gt-sm="row">
  <!-- Upload Form -->
  <div class="video-upload-form" fxFlex="100%" fxFlex.gt-sm="30%">
    <form [formGroup]="uploadForm">
      <!-- File Upload box -->
      <div class="upload-field">
        <div class="upload-box video-upload">
          <button mat-raised-button (click)="filePicker.click()">
            Select File
          </button>
          <input type="file" #filePicker (change)="onImagePicked($event)" />
          <button
            *ngIf="imagePreview === '' || !imagePreview"
            mat-icon-button
            (click)="filePicker.click()"
          >
            <mat-icon>upload</mat-icon>
          </button>
        </div>

        <!-- Thumbnail upload box -->
        <div
          class="upload-box thumbnail-upload"
          appFileDrop
          (filesDropped)="handleDrop($event)"
          (filesHovered)="dropzoneState($event)"
          [ngClass]="{ 'drop-active': dropzoneActive }"
        >
          <button mat-raised-button (click)="thumbnailPicker.click()">
            Select thumbnail
          </button>
          <input
            type="file"
            #thumbnailPicker
            (change)="onImagePicked($event)"
          />
          <button
            *ngIf="imagePreview === '' || !imagePreview"
            mat-icon-button
            (click)="thumbnailPicker.click()"
          >
            <mat-icon>upload</mat-icon>
          </button>
          <div
            class="image-preview"
            *ngIf="imagePreview !== '' && imagePreview"
          >
            <img [src]="imagePreview" [alt]="uploadForm.value.title" />
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Uploaded media details -->
  <div fxFlex="100%" fxFlex.gt-sm="70%">
    <!-- TODO linear = true -->
    <mat-horizontal-stepper linear="false" #stepper>
      <!-- Media details -->
      <mat-step [stepControl]="detailsForm">
        <form [formGroup]="detailsForm">
          <ng-template matStepLabel>Fill in video details</ng-template>
          <div class="stepper-form">
            <h2>Details</h2>
            <mat-form-field>
              <mat-label>Title of video</mat-label>
              <input matInput type="text" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Description of video</mat-label>
              <textarea matInput rows="5"></textarea>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Tags</mat-label>
              <mat-chip-list #tagsList aria-label="tags selection">
                <mat-chip
                  *ngFor="let tag of tags"
                  [selectable]="true"
                  [removable]="true"
                  (removed)="remove(tag)"
                >
                  {{ tag }}
                </mat-chip>
                <input
                  matInput
                  type="text"
                  placeholder="Add new tag..."
                  [matChipInputFor]="tagsList"
                  [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                  [matChipInputAddOnBlur]="true"
                  (matChipInputTokenEnd)="add($event)"
                />
                <button mat-flat-button color="accent" matSuffix>Add</button>
              </mat-chip-list>
              <!-- TODO only show on blur -->
              <mat-hint>Press comma or enter to add new tag</mat-hint>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              matStepperNext
              type="button"
              (click)="next()"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <!-- Add various contributers here -->
      <mat-step [stepControl]="contributesForm" label="Contributers">
        <form [formGroup]="contributesForm">
          <mat-form-field>
            <mat-label>Partners</mat-label>
            <mat-chip-list #partnersList aria-label="Partners selection">
              <mat-chip
                *ngFor="let tag of tags"
                [selectable]="true"
                [removable]="true"
                (removed)="remove(tag)"
              >
                {{ tag }}
              </mat-chip>
              <input
                matInput
                type="text"
                placeholder="Add new tag..."
                [matChipInputFor]="tagsList"
                [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="add($event)"
              />
              <button mat-flat-button color="accent" matSuffix>Add</button>
            </mat-chip-list>
            <!-- TODO only show on focus -->
            <mat-hint>Press comma or enter to add new tag</mat-hint>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>References</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
