<div class="container" fxLayout.lt-sm="column" fxFlex.gt-sm="row">
  <!-- Upload Form -->
  <div class="video-upload-form" fxFlex="100%" fxFlex.gt-sm="30%">
    <app-file-upload></app-file-upload>
  </div>

  <!-- Uploaded media details -->
  <div fxFlex="100%" fxFlex.gt-sm="70%">
    <!-- TODO linear = true -->
    <mat-horizontal-stepper linear #stepper>
      <!-- Media details -->
      <mat-step [stepControl]="detailsForm">
        Form: {{ detailsForm }}
        <ng-template matStepLabel>Fill in video details</ng-template>
        <app-details #DetailsComponent></app-details>
      </mat-step>

      <!-- Add various contributers here -->
      <mat-step [stepControl]="contributesForm" label="Contributers">
        <form [formGroup]="contributesForm">
          <mat-form-field>
            <mat-label>Partners</mat-label>
            <mat-chip-list #partnersList aria-label="Partners selection">
              <!-- TODO add picture to contributer pic and link with backend -->
              <mat-chip
                *ngFor="let partner of partners"
                [selectable]="true"
                [removable]="true"
                (removed)="removePartner(partner)"
              >
                {{ partner.username }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
                matInput
                type="text"
                placeholder="Add new contributer..."
                [matChipInputFor]="partnersList"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addPartner($event)"
              />
              <!-- [matChipInputSeparatorKeyCodes]="separatorKeyCodes" -->
              <button mat-stroked-button color="primary" matSuffix>Add</button>
            </mat-chip-list>
            <!-- TODO only show on focus -->
            <!-- <mat-hint *ngIf="tagsForm?.touched">
              Press comma or enter to add new tag
            </mat-hint> -->
          </mat-form-field>
          <h3>Contributers</h3>
          <mat-chip-list #contributersList aria-label="List of contributers">
            <mat-chip
              *ngFor="let contributer of contributers"
              [removable]="true"
              (removed)="removeContributer(contributer)"
              >{{ contributer.user.username }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <!-- username form field -->
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username" />
            <mat-error
              *ngIf="username.touched && username.errors?.usernameNotFound"
            >
              Username does not exsist
            </mat-error>
          </mat-form-field>
          <!-- Role Form Field -->
          <mat-form-field>
            <mat-label>Role</mat-label>
            <input matInput type="text" formControlName="role" />
          </mat-form-field>
          <!-- Description Form Field -->
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput rows="5"></textarea>
          </mat-form-field>
          <button
            mat-stroked-button
            color="primary"
            type="button"
            (click)="addContributer()"
          >
            Add
          </button>
          <div class="mt-2" fxLayoutAlign="space-between center">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext color="primary">
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>References</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
