<div class="container" fxLayoutAlign="center center">
  <div
    class="custom-bg"
    [ngClass]="{
      'custom-bg-light': !isDarkMode,
      'custom-bg-dark': isDarkMode
    }"
    fxLayout.lt-sm="column"
    fxLayout.gt-sm="row"
  >
    <!-- Upload Form -->
    <div
      class="video-upload-form"
      fxFlex="100%"
      fxFlex.gt-sm="30%"
      fxLayoutAlign="center center"
    >
      <app-file-upload></app-file-upload>
    </div>

    <!-- Uploaded media details -->
    <div fxFlex="100%" fxFlex.gt-sm="70%">
      <mat-horizontal-stepper linear="true" #stepper>
        <!-- Media details -->
        <mat-step [stepControl]="detailsForm" (onsubmit)="recordDetails()">
          <!-- Form: {{ detailsForm }} -->
          <ng-template matStepLabel>Fill in video details</ng-template>
          <ng-template matStepContent>
            <app-details #detailsComponent></app-details>
            <button
              mat-raised-button
              color="primary"
              matStepperNext
              type="button"
              (click)="recordDetails()"
              class="mt-1"
            >
              Next
            </button>
          </ng-template>
        </mat-step>

        <!-- Add various contributers here -->
        <mat-step
          [stepControl]="contributersForm"
          (onsubmit)="recordContributers()"
        >
          <ng-template matStepLabel>Contributers</ng-template>
          <ng-template matStepContent>
            <app-contributers-form
              #contributersFormComponent
            ></app-contributers-form>
            <div class="mt-2" fxLayoutAlign="space-between center">
              <button mat-button matStepperPrevious>Back</button>
              <button
                mat-raised-button
                matStepperNext
                (click)="recordContributers()"
                color="primary"
                class="mt-1"
              >
                Next
              </button>
            </div>
          </ng-template>
        </mat-step>

        <!-- For citations -->
        <mat-step [stepControl]="refForm" (onsubmit)="recordReferences()">
          <ng-template matStepLabel>References</ng-template>
          <ng-template matStepContent>
            <app-references-form #referencesFormComponent></app-references-form>
            <div class="mt-2" fxLayoutAlign="space-between center">
              <button mat-button matStepperPrevious>Back</button>
              <button
                mat-raised-button
                matStepperNext
                (click)="recordReferences()"
                color="primary"
                class="mt-1"
              >
                Finish
              </button>
            </div>
          </ng-template>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
