<form [formGroup]="detailsForm">
  <div class="stepper-form">
    <h2>Details</h2>
    <mat-form-field class="w-100">
      <mat-label>Title of content</mat-label>
      <input matInput type="text" formControlName="title" />
      <mat-error *ngIf="title.errors?.required"> Title required </mat-error>
      <!-- TODO verify error -->
      <mat-error *ngIf="title.errors?.minlength"> Title too Short </mat-error>
      <mat-error *ngIf="title.errors?.maxlength"> Title too long </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Description of content</mat-label>
      <textarea matInput rows="5" formControlName="description"></textarea>
      <mat-error *ngIf="description.errors?.required">
        Description required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Tags</mat-label>
      <mat-chip-list #tagsList aria-label="tags selection">
        <mat-chip
          *ngFor="let tag of tags"
          [selectable]="true"
          [removable]="true"
          (removed)="remove(tag)"
        >
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          matInput
          type="text"
          placeholder="Add new tag..."
          [matChipInputFor]="tagsList"
          [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)"
        />
        <button mat-stroked-button color="primary" matSuffix>Add</button>
      </mat-chip-list>
      <mat-hint align="end"> Press comma or enter to add new tag </mat-hint>
    </mat-form-field>
  </div>
</form>
