a {
  text-decoration: none;
  color: rgb(43, 43, 43);
}

a-dark {
  color: rgb(196, 196, 196);
}

a-dark:active {
  color: rgb(255, 255, 255);
}

a-light {
  color: rgb(70, 70, 70);
}

a-light:active {
  color: rgb(46, 46, 46);
}
