<mat-toolbar>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-around center">
    <a
      routerLink="/home"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
    >
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-icon>home</mat-icon>
        <span class="mat-caption">Home</span>
      </div>
    </a>

    <a routerLink="/music" routerLinkActive="active">
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-icon>library_music</mat-icon>
        <span class="mat-caption">Music</span>
      </div>
    </a>

    <a routerLink="/pictures" routerLinkActive="active">
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-icon>image</mat-icon>
        <span class="mat-caption">Pictures</span>
      </div>
    </a>

    <a routerLink="/profile" routerLinkActive="active">
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-icon>person</mat-icon>
        <span class="mat-caption">Profile</span>
      </div>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
