a {
  text-decoration: none;
  color: rgb(43, 43, 43);
  width: 100%;
}

.a-dark {
  color: rgb(235, 235, 235);
}

.active {
  div span {
    font-size: 1rem;
    color: #1976d2;
  }

  div mat-icon {
    color: #1976d2;
    font-size: 28px;
  }
}

.active-dark {
  div span {
    font-size: 1rem;
    color: #ffd740;
  }

  div mat-icon {
    color: #ffd740;
    font-size: 28px;
  }
}
