<app-navbar></app-navbar>
<div class="container" fxLayout="row" fxFlexAlign="space-between center">
  <!-- shows a person's profile details -->
  <div class="profile-section" fxFlex="25%">
    <img src="/assets/vectors/man.jpg" alt="profile-picture" />
    <h1>Stan Mpakati</h1>
    <p>
      Hello there I am a boy who just wants to fill this space with some
      content. Don't be mad if you don't get what you want, with time I'll fill
      this section with real users and you'll get actuall content. But for now,
      please bear with me *smilley emoji.
      <br />ps I hope I did well *a different smiley emoji
    </p>

    <!-- Shows what content a person has posted -->
    <div class="content-icons">
      <mat-icon>video</mat-icon> 4 Videos <mat-icon>image</mat-icon> 15 Pictures
      <mat-icon>library_music</mat-icon> 1 Audio
    </div>

    <!-- Links to various people's social media handles -->
    <div class="social-media-links" fxLayout="column">
      <h3>Get in touch</h3>
      <div class="social-link">
        <mat-icon>facebook</mat-icon> <a href="#">stanmpakati</a>
      </div>
      <div class="social-link">
        <mat-icon>instagram</mat-icon> <a href="#">stanmpakati</a>
      </div>
      <div class="social-link">
        <mat-icon>twitter</mat-icon> <a href="#">stanmpakati</a>
      </div>
    </div>
  </div>

  <!-- Show's a person's uploaded content -->
  <div class="content-section" fxFlex="75%">
    <!-- To switch between content shown -->
    <div class="categories-navbar">
      <mat-tab-group>
        <!-- Videos Tab group -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>video</mat-icon> Videos
          </ng-template>
          <ng-template matTabContent> Vids </ng-template>
        </mat-tab>
        <!-- Music tab group -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>library_music</mat-icon> Audio
          </ng-template>
          <ng-template matTabContent> Music </ng-template>
        </mat-tab>

        <!-- Pictures Tab group -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>image</mat-icon> Pictures
          </ng-template>
          <ng-template matTabContent> Pics </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
