<hr />
<div *ngIf="!isLoading" class="comment-container" fxLayout="row" fxFlexAlign="">
  <img
    [src]="
      user?.profilePicUrl ? user.profilePicUrl : '/assets/vectors/icon.png'
    "
    [alt]="user?.username + 'profile picture'"
    [routerLink]="routerLink"
  />
  <div fxLayout="column">
    <div fxLayout="row" fxFlexAlign="end end">
      <span class="tx-500">{{ user?.username }} </span>
      <span class="mat-caption"> {{ timeElapsed }}</span>
    </div>
    <p>{{ comment.comment }}</p>
    <button
      mat-icon-button
      aria-label="Button to toggle like on and of"
      (click)="likeComment()"
    >
      <mat-icon color="warn">
        {{ isLiked ? "favorite" : "favorite_border" }}
      </mat-icon>
      {{ comment.likes }}
    </button>
  </div>
</div>
