image-cropper {
  height: 50px;
}

.pp-upload-box {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #cecece;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 12px;
}

image {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.drop-active {
  border: 2px solid #ffd740;
  background-color: #dedee6;
}

.column {
  max-width: 175px;
  text-align: center;
}
