<form [formGroup]="uploadForm" (submit)="uploadFile()">
  <!-- hidden input box -->
  <input type="file" #imagePicker (change)="onImagePicked($event)" />

  <!-- Thumbnail upload box -->
  <div class="row">
    <div class="column">
      <div
        class="pp-upload-box"
        appFileDrop
        (filesDropped)="handleDrop($event)"
        (filesHovered)="fileDropzoneState($event)"
        [ngClass]="{ 'drop-active': fileDropzoneActive }"
      >
        <img [src]="croppedImage" *ngIf="croppedImage" />
        <button
          *ngIf="!croppedImage"
          mat-icon-button
          (click)="imagePicker.click()"
          type="button"
        >
          <mat-icon>add_a_photo</mat-icon>
        </button>
      </div>
      <mat-error *ngIf="profilePic.errors?.invalidMimeType">
        Sorry only jpg and png files supported
      </mat-error>
      <mat-error *ngIf="fileTooBigError">
        {{ fileTooBigError }}
      </mat-error>
    </div>

    <button
      mat-stroked-button
      color="primary"
      (click)="imagePicker.click()"
      type="button"
    >
      {{ !croppedImage ? "Select" : "Change" }} picture
    </button>
  </div>
</form>
