<div
  class="thumb-container"
  ngClass.xs="small"
  fxLayout="column"
  (click)="navigateToPage()"
>
  <div class="img">
    <video width="400" preload="metadata" [poster]="thumbnailData.thumbnailUrl">
      <source [src]="thumbnailData.fileUrl" type="video/mp4" />
      Sorry Your browser does not support the video tag.
    </video>
    <span class="duration-stamp">{{ thumbnailData.length }}</span>
  </div>
  <span [ngClass]="{ 'mat-body-2': true, 'color-blue': !isDarkMode }">{{
    thumbnailData.title
  }}</span>
  <div class="owner-time" fxLayout="row" fxLayoutAlign="space-between center">
    <span>{{ owner }}</span>
    <span class="mat-caption">{{ timeElapsed }}</span>
  </div>
</div>
