<div class="thumb-container" ngClass.xs="small" fxLayout="column">
  <div class="img">
    <!-- <img
      [src]="
        thumbnailData.thumbnailUrl
          ? thumbnailData.thumbnailUrl
          : '/assets/img/Get-Out.jpg'
      "
      [alt]="thumbnailData.title"
    /> -->
    <video width="400" preload="metadata">
      <source [src]="thumbnailData.fileUrl" type="video/mp4" />
    </video>
    <span class="duration-stamp">{{ thumbnailData.length }}</span>
  </div>
  <span class="mat-body-2">{{ thumbnailData.title }}</span>
  <div class="owner-time" fxLayout="row" fxLayoutAlign="space-between center">
    <span>{{ owner }}</span>
    <span class="mat-caption">{{ timeElapsed }}</span>
  </div>
</div>
