.img {
  background: url("/assets/img/Get-Out.jpg");
  aspect-ratio: 19/10;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  img {
    // TODO fix stretching of image
    width: 100%;
    // height: 100%;
    aspect-ratio: 19/10;

    background-size: contain;
    background-position: center;
    overflow: hidden;
    // position: absolute;
  }
}

.small {
  font-size: 1.2rem;

  .mat-body-2 {
    margin-top: 4px;
    font-size: 1.4rem;
  }
}

.duration-stamp {
  background-color: rgb(29, 29, 29);
  color: rgb(255, 255, 255);
  opacity: 0.9;
  padding: 1px 3px;
  position: absolute;
  bottom: 6px;
  left: 6px;
}

.mat-body-2 {
  color: rgb(39, 39, 175);
}
