<div
  class="thumb-container"
  ngClass.xs="small"
  fxLayout="column"
  (click)="navigateToPage()"
>
  <div class="img">
    <video
      *ngIf="!thumbnailData.fileType.includes('image')"
      width="400"
      preload="metadata"
      [poster]="thumbnailUrl"
    >
      <source [src]="fileUrl" type="video/mp4" />
      Sorry Your browser does not support the video tag.
    </video>
    <img
      *ngIf="thumbnailData.fileType.includes('image')"
      [src]="thumbnailData.file_public_id"
    />
    <span class="duration-stamp">{{ thumbnailData.duration | duration }}</span>
  </div>
  <span [ngClass]="{ 'mat-body-2': true, 'color-blue': !isDarkMode }">
    {{ thumbnailData.title }}
  </span>
  <div class="owner-time" fxLayout="row" fxLayoutAlign="space-between center">
    <span>{{ owner }}</span>
    <span class="mat-caption">{{ timeElapsed }}</span>
  </div>
</div>
