<mat-toolbar>
  <mat-toolbar-row fxFlexAlign="center">
    <a routerLink="/home">
      <span [ngClass]="{ 'logo-dark': isDarkMode, 'logo-light': !isDarkMode }"
        >MSU<span>tube</span></span
      >
    </a>
    <span class="spacer"></span>
    <!-- Search form -->
    <!-- <mat-form-field appearance="outline"> </mat-form-field> -->
    <div
      fxHide.lt-sm
      fxLayout="row"
      fxFlexAlign="center stretch"
      class="search-field"
    >
      <input
        matInput
        type="text"
        [ngClass]="{
          'search-input': true,
          'search-input-dark': isDarkMode
        }"
      />
      <button
        [ngClass]="{ 'search-button': true, 'search-button-dark': isDarkMode }"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <button fxHide.gt-xs mat-button><mat-icon>search</mat-icon></button>

    <span fxHide.lt-sm ngClass="spacer"></span>

    <div>
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a routerLink="/upload" mat-button><mat-icon>upload</mat-icon></a>

      <!-- profile button -->
      <button class="icon-btn" mat-icon-button [matMenuTriggerFor]="menu">
        <img src="/assets/vectors/man.jpg" alt="" />
      </button>
      <!-- profile menu -->
      <mat-menu #menu="matMenu">
        <div mat-menu-item (click)="$event.stopPropagation()">
          <mat-slide-toggle (toggleChange)="toggleThemeSelection()">
            Dark Mode
          </mat-slide-toggle>
        </div>
        <button mat-menu-item><mat-icon>person</mat-icon> Profile</button>
        <button mat-menu-item><mat-icon>settings</mat-icon> Settings</button>
        <hr />
        <button mat-menu-item><mat-icon>logout</mat-icon> Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
