mat-toolbar {
  margin-bottom: 0.75rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

img {
  height: 35px;
  border-radius: 50%;
}

mat-form-field {
  height: 22px;
}

.user-name {
  padding: 6px 16px;
  span {
    font-weight: 500;
  }
}

.search-input {
  border-radius: 5px 0px 0px 5px;
  border: none;
  width: 240px;
  background-color: white;
}

.search-input-dark {
  background-color: rgb(126, 126, 126);
}

.search-button {
  //   height: 27px;
  margin: 0;
  border: none;

  //   border-radius: 5px;
}

.search-button-dark {
  background-color: rgb(44, 44, 44);
  color: rgb(197, 197, 197);
  border: none !important;
}

mat-menu div {
  margin: 1rem;
  padding: 1rem;
}

// -----------------------------------------------------
.nav-row {
  height: 45px !important;
}

a {
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
}

.bg-light {
  background-color: rgb(221, 221, 221);
  a {
    color: rgb(46, 46, 46);
  }
}

.bg-dark {
  background-color: #424242;
  a {
    color: rgb(255, 255, 255);
  }
}

.link-active {
  font-weight: 600;
  font-size: 22px;
}
// ---------

@media only screen and (min-width: 600px) {
  .search-button {
    width: 60px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 0px 5px 5px 0px;
  }
}

@media only screen and (min-width: 960px) {
}
