<mat-toolbar>
  <mat-toolbar-row fxFlexAlign="center">
    <a routerLink="/home" href="#">
      <span [ngClass]="{ 'logo-dark': isDarkMode, 'logo-light': !isDarkMode }">
        MSU<span>tube</span>
      </span>
    </a>
    <span class="spacer"></span>
    <!-- Search form -->
    <!-- <mat-form-field appearance="outline"> </mat-form-field> -->
    <form [formGroup]="searchForm">
      <div
        fxHide.lt-sm
        fxLayout="row"
        fxFlexAlign="center stretch"
        class="search-field"
      >
        <input
          matInput
          type="search"
          formControlName="query"
          [ngClass]="{
            'search-input': true,
            'search-input-dark': isDarkMode
          }"
        />
        <button
          [ngClass]="{
            'search-button': true,
            'search-button-dark': isDarkMode
          }"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>

    <button fxHide.gt-xs mat-button><mat-icon>search</mat-icon></button>

    <span fxHide.lt-sm ngClass="spacer"></span>

    <div>
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a routerLink="/upload" mat-button><mat-icon>upload</mat-icon></a>

      <!-- profile button -->
      <button class="icon-btn" mat-icon-button [matMenuTriggerFor]="menu">
        <img
          [src]="profileUrl ? profileUrl : '/assets/vectors/icon.png'"
          alt="profile picture"
          #img
        />
      </button>
      <!-- profile menu -->
      <mat-menu #menu="matMenu">
        <div *ngIf="username" class="user-name">
          Welcome <span>{{ username }}</span>
        </div>
        <hr *ngIf="username" />
        <div mat-menu-item (click)="$event.stopPropagation()">
          <mat-slide-toggle
            [checked]="isDarkMode"
            (toggleChange)="toggleThemeSelection()"
          >
            Dark Mode
          </mat-slide-toggle>
        </div>
        <a *ngIf="username" href="#" [routerLink]="profileLink" mat-menu-item>
          <mat-icon>person</mat-icon> Profile
        </a>
        <a href="#" routerLink="/settings" mat-menu-item>
          <mat-icon>settings</mat-icon> Settings
        </a>
        <hr />
        <button *ngIf="username" mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon> Logout
        </button>
        <a *ngIf="!username" mat-menu-item href="#" routerLink="/auth/login">
          <mat-icon>login</mat-icon> Login
        </a>
      </mat-menu>
    </div>
  </mat-toolbar-row>
  <!-- ---------------- Desktop Links ---------------------------- -->
  <mat-toolbar-row
    [ngClass]="{
      'nav-row': true,
      'bg-dark': isDarkMode,
      'bg-light': !isDarkMode
    }"
    fxHide.xs
    fxAlign="row"
    fxLayoutAlign="space-around center"
    *ngIf="displayNav"
  >
    <a
      routerLink="/home"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="link-active"
    >
      Home
    </a>
    <a routerLink="/music" routerLinkActive="link-active">Music</a>
    <a routerLink="/pictures" routerLinkActive="link-active">Pictures</a>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Search results -->
<app-search-items
  *ngIf="searchedPosts"
  [searchResults]="searchedPosts"
></app-search-items>
