<!-- Loading state -->
<div class="backdrop" *ngIf="isLoading">
  <mat-spinner
    class="is-loading-spinner"
    color="accent"
    *ngIf="isLoading"
  ></mat-spinner>
</div>

<div class="container" fxLayout="column">
  <header>
    <span class="logo-light">MSU<span class="color-primary">tube</span></span>
  </header>
  <main
    fxLayout.gt-sm="row"
    fxLayout.lt-sm="column-reverse"
    class="row"
    *ngIf="!isLoading"
  >
    <!-- Signup section -->
    <div
      class="left"
      fxFlex.lt-md="100"
      fxFlex="50%"
      fxLayout="column"
      fxFlexAlign="space-around center"
    >
      <h3>Welcome</h3>
      <p>To continue please enter your Login Details</p>
      <form [formGroup]="form" (submit)="onLogin()">
        <!-- email form field -->
        <mat-form-field>
          <mat-label>Email or Username</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input matInput type="email" formControlName="email" />
          <mat-error
            *ngIf="(email.touched || submitted) && email.errors?.required"
          >
            Email or Username is required
          </mat-error>
        </mat-form-field>

        <!-- password form field -->
        <mat-form-field>
          <mat-label>Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error
            *ngIf="(password.touched || submitted) && password.errors?.required"
          >
            Password is required
          </mat-error>
          <mat-error *ngIf="password.touched && password.errors?.minlength">
            Password too short
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>

      <!-- <mat-slide-toggle> DarkTheme </mat-slide-toggle> -->

      <p>No account? <a routerLink="/signup">Sign up</a> instead</p>
    </div>

    <!-- SVG image -->
    <div
      class="right"
      fxFlex.lt-md="100"
      fxFlex="50%"
      fxLayout="column"
      fxFlexAlign="center center"
    >
      <img
        fxFlex.gt-xs="80%"
        src="/assets/vectors/login.svg"
        alt="login image"
      />
    </div>
  </main>
</div>
