<!-- Loading state -->
<div class="backdrop" *ngIf="isLoading"></div>
<mat-spinner
  class="is-loading-spinner"
  color="accent"
  *ngIf="isLoading"
></mat-spinner>

<div class="container" fxLayout="column">
  <header>
    <span class="logo-light">MSU<span class="color-primary">tube</span></span>
  </header>
  <main fxLayout.gt-sm="row" fxFlex="50%" class="row" *ngIf="true">
    <!-- Signup section -->
    <div
      class="left"
      fxFlex.lt-md="100"
      fxFlex="50%"
      fxLayout="column"
      fxFlexAlign="space-around center"
    >
      <h2>Setup Account</h2>
      <p class="mat-headline">{{ details }} details</p>

      <!-- personal details form -->
      <app-personal-details-form
        *ngIf="details === 'Personal'"
        (addPersonalDetails)="onNext($event)"
      >
      </app-personal-details-form>

      <app-contact-details-form
        *ngIf="details !== 'Personal'"
        (addContactDetails)="onSubmit($event)"
      >
      </app-contact-details-form>
    </div>

    <!-- Image -->
    <div
      class="right"
      fxFlex.lt-md="100"
      fxFlex="50%"
      fxLayout="column"
      fxFlexAlign="center center"
    >
      <img
        fxFlex.gt-xs="80%"
        src="/assets/vectors/signup.svg"
        alt="setup account image"
      />
    </div>
  </main>
</div>
