<div class="container">
  <header>
    <span class="logo">MSU<span class="color-primary">tube</span></span>
  </header>
  <main fxLayout="row wrap" fxFlex="50%" class="row" *ngIf="true">
    <!-- Signup section -->
    <div class="left">
      <h2>Setup Account</h2>
      <p class="mat-headline">{{ details }} details</p>

      <!-- personal details form -->
      <app-personal-details-form
        *ngIf="details === 'Personal'"
        (addPersonalDetails)="onNext($event)"
      >
      </app-personal-details-form>

      <app-contact-details-form
        *ngIf="details !== 'Personal'"
        (addContactDetails)="onSubmit($event)"
      >
      </app-contact-details-form>
    </div>

    <!-- Image -->
    <div class="right">
      <img src="/assets/vectors/signup.svg" alt="setup account image" />
    </div>
  </main>
</div>
