<form [formGroup]="commentForm" (ngSubmit)="commentSubmit()">
  <mat-form-field class="w-100">
    <mat-label>What do you think about the video...</mat-label>
    <textarea matInput rows="2" formControlName="comment"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary">Submit</button>
</form>

<!-- Comments -->
<div *ngIf="!isLoading">
  <app-comment
    *ngFor="let comment of comments"
    [comment]="comment"
  ></app-comment>
</div>

<!-- Loading spinner -->
<mat-spinner *ngIf="isLoading"></mat-spinner>
