<form [formGroup]="contributersForm">
  <h2>Add content partners and contributers</h2>
  <mat-form-field>
    <mat-label>Partners</mat-label>
    <mat-chip-list
      #partnersList
      aria-label="Partners selection"
      formControlName="partnersControl"
    >
      <!-- TODO add picture to contributer pic and link with backend -->
      <mat-chip
        *ngFor="let partner of partners"
        [selectable]="true"
        [removable]="true"
        (removed)="removePartner(partner)"
      >
        {{ partner }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        matInput
        type="text"
        placeholder="Add new contributer..."
        [matChipInputFor]="partnersList"
        [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addPartner($event)"
      />
      <button mat-stroked-button color="primary" matSuffix>Add</button>
    </mat-chip-list>
    <mat-hint align="end"> Press comma or enter to add new tag </mat-hint>
    <mat-error align="end" *ngIf="owners?.touched && owners?.errors?.required">
      username is required
    </mat-error>
    <mat-error *ngIf="owners?.touched && owners?.errors?.email">
      Please enter a username with a registered account
    </mat-error>
  </mat-form-field>
  <h3>Contributers</h3>
  <form [formGroup]="helpersForm">
    <!-- contributers boxes -->
    <app-contributer-circle
      *ngFor="let contributer of contributers"
      [contributer]="contributer"
    ></app-contributer-circle>

    <mat-chip-list #contributersList aria-label="List of contributers">
      <mat-chip
        *ngFor="let contributer of contributers"
        [removable]="true"
        (removed)="removeContributer(contributer)"
      >
        {{ contributer.user.username }}<mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>

    <!-- username form field -->
    <mat-form-field [formGroup]="helpersForm">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" />
      <!-- errors -->
      <mat-error *ngIf="username.errors?.required && contribSubmit">
        Username required
      </mat-error>
      <mat-error
        *ngIf="username?.touched && username?.errors?.usernameNotFound"
      >
        Username does not exsist
      </mat-error>
      <!-- hint -->
      <mat-hint align="end"> Needs to have an account with MSUtube </mat-hint>
    </mat-form-field>

    <!-- Role Form Field -->
    <mat-form-field>
      <mat-label>Role</mat-label>
      <input matInput type="text" formControlName="role" />
      <mat-hint align="end">
        E.g. Main Actor, Actor, Sound Engineering ...etc
      </mat-hint>
    </mat-form-field>

    <!-- Description Form Field -->
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput rows="5"></textarea>
      <mat-hint align="end">
        Detailed description of how the person helped
      </mat-hint>
    </mat-form-field>
    <button
      mat-stroked-button
      color="primary"
      type="button"
      (click)="addContributer()"
    >
      Add Contributer
    </button>
  </form>

  <!-- Forward and next buttons -->
  <div class="mt-2" fxLayoutAlign="space-between center">
    <button mat-button matStepperPrevious>Back</button>
    <button mat-raised-button matStepperNext color="primary">Next</button>
  </div>
</form>
