<div class="search-container" (click)="navigateToPage()">
  <div fxLayout="row">
    <img
      [src]="thumbnail.thumb_public_id || '/assets/vectors/no-image.svg'"
      [alt]="thumbnail.title"
      fxFlex="25%"
    />
    <div class="pl-1" fxLayout="column" fxLayoutAlign="start start">
      <span class="mat-body-2">{{ thumbnail.title }}</span>
      <span class="">{{ thumbnail.description }}</span>
      <div class="spacer-y"></div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        style="width: 100%"
      >
        <span class="mat-caption">{{ owner }}</span>
        <span class="mat-caption owner-time">{{ timeElapsed }}</span>
      </div>
    </div>
  </div>
</div>
<hr />
